@charset "UTF-8";
header {
    background-image: url("../images/contact-bg.jpg");
    background-color: #555;
    background-blend-mode: screen;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 2.5em;
}

#name,
#email,
#message {
    background-color: rgba(255, 255, 255, .8);
}

#name,
#email {
    height: 2em;
    width: 20em;
}

#submit {
    background-color: #0bd;
    color: white;
    width: 5em;
    height: 2.5em;
}

#name,
#email,
#message,
#submit {
    border-radius: 5px;
    margin: .5em 0;
}

@media screen and (max-width:768px) {
    header {
        height: 100vh;
    }
}

@media screen and (min-width:768px) {
    header {
        height: 80vh;
    }
    h2 {
        margin: 0 4em;
    }
    form {
        margin: 0 10em;
    }
}