@charset "UTF-8";
header,
nav,
article,
aside,
section,
footer {
    display: block;
}

body {
    font-family: 'Philosopher', sans-serif;
    font-size: 100%;
    color: #332808;
    box-sizing: border-box;
}

nav a {
    font-weight: bold;
}

a {
    color: #332808;
    text-decoration: none;
}

a:hover {
    color: #0bd;
}

nav ul li {
    display: inline-block;
    padding: 1em;
}

#sito-logo {
    margin-top: .5em;
    margin-bottom: .5em;
}

main {
    padding: 2em;
}

footer {
    text-align: center;
    background-color: #332808;
    color: white;
    padding: 1em;
}

@media screen and (max-width:768px) {
    header {
        margin: 2em;
    }
    #site-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        text-align: center;
    }
}

@media screen and (min-width:768px) {
    header {
        margin: 2em 10em;
        position: relative;
        z-index: 2;
    }
    h1 {
        float: left;
    }
    nav {
        float: right;
        position: relative;
        z-index: 1;
    }
    h2 {
        clear: both;
    }
}